/*
Theme Name: kurz
Author: meno autora
Author URI: http://www.itklub.ku.sk
Description: Popis moze byt aj dlhsesejsi
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: kurz
*/

body{
	font-family: sans;
}

header,
article,
aside,
footer{
	border: 1px solid #ccc;
}

.container{
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
}

article{
	width: 740px;
	float: left;
}
aside{
	width: 200px;
	float: right;
}